# Introduction

In this project, we will show examples of how we can enable employees to interact with their company's databases using natural language. This means that they no longer have to rely on data professionals to "give" them access to the data they need for making informed business decisions.

We will first create a SQLite database using 17 CSV files, and each CSV file will represent a table in the database. This database is a simplified representation of a real-world database for a typical HR SaaS company.

Next, we will develop a Q&A chatbot utilizing a ReAct agentic framework. We will use a set of built-in tools from Langchain, but we will also build a number of tools ourselves to give the agent better context about our database.

To run the code, be sure to first upload the 17 CSV files from the Data folder in Github.

In [ ]:
# Ensure necessary packages are installed
!pip install langchain
!pip install langchain-community
!pip install openai

In [ ]:
# Import libraries
import sqlite3
import pandas as pd
from tabulate import tabulate
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase
from langchain.chat_models import ChatOpenAI
from langchain.agents import AgentExecutor, create_sql_agent
from langchain.agents.agent_types import AgentType
from langchain.tools import tool, Tool
import os, json, re, openai, ast
from datetime import datetime
from langchain_community.callbacks import get_openai_callback

In [ ]:
# Fill in API key from OpenAI
os.environ["OPENAI_API_KEY"] = "<enter your API key>"

# Langchain tracking
os.environ["LANGCHAIN_TRACING_V2"] = "true"
os.environ["LANGCHAIN_ENDPOINT"] = "https://api.smith.langchain.com"
os.environ["LANGCHAIN_API_KEY"] = "<enter your API key or simply remove all Langchain tracking variables>"
os.environ["LANGCHAIN_PROJECT"] = "FAIM project"

In [ ]:
# Instantiate LLM and ensure temperature is set to 0 (we don't want the LLM to produce creative output!)
temperature = 0
model = "gpt-4o"

llm = ChatOpenAI(temperature=temperature, model=model)

In [ ]:
# Create SQLite database
conn = sqlite3.connect('DATABASE.db')

# List of CSV files to import
csv_files = [
    'AttendanceRecords.csv',
    'Bonuses.csv',
    'Companies.csv',
    'Deductions.csv',
    'Departments.csv',
    'FeatureUsage.csv',
    'Feedback.csv',
    'Goals.csv',
    'Invoices.csv',
    'LeaveRequests.csv',
    'LeaveTypes.csv',
    'PayrollRecords.csv',
    'PerformanceReviews.csv',
    'Positions.csv',
    'Subscriptions.csv',
    'UserSessions.csv',
    'Employees.csv'
]

# Import each CSV file into a table in the SQLite database
for csv_file in csv_files:
    table_name = csv_file.split('.')[0]
    df = pd.read_csv(csv_file)
    df.to_sql(table_name, conn, if_exists='replace', index=False)

# Close the connection
conn.close()

In [ ]:
# Connect to the SQLite database
conn = sqlite3.connect('DATABASE.db')

# List of all table names
table_names = [
    "Companies", "Employees", "Departments", "Positions",
    "LeaveTypes", "LeaveRequests", "AttendanceRecords",
    "PerformanceReviews", "Goals", "PayrollRecords",
    "Deductions", "Bonuses", "FeatureUsage",
    "Feedback", "UserSessions", "Subscriptions", "Invoices"
]

# Fetch and print 10 random rows from each table
def print_random_rows(table_name):
    query = f"SELECT * FROM {table_name} ORDER BY RANDOM() LIMIT 10;"
    df = pd.read_sql_query(query, conn)
    print(f"--- {table_name} ---")
    print(tabulate(df, headers='keys', tablefmt='psql'))
    print("\n")

for table_name in table_names:
    print_random_rows(table_name)

# Close the database connection
conn.close()

In [ ]:
# Initialize a wrapper around the SQLite database. In this project, we will give the agent access to all tables.
db = SQLDatabase.from_uri(
    "sqlite:///DATABASE.db",
    include_tables=table_names,
    sample_rows_in_table_info=3,
)

# Setting up tools for our agent

In [ ]:
# Use Langchain's SQLDatabaseToolkit to provide our agent with access to a bunch of important SQL tools
# Examples: connecting to database, examining table schema, validating and executing queries
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

In [ ]:
# Create dictionary that returns basic descriptions of each table in our database
TABLES_DESCRIPTIONS = {
    "AttendanceRecords": "Tracks daily attendance of our customers' employees",
    "Bonuses": "Contains information about bonuses awarded to our customers' employees",
    "Companies": "Contains information about our customers. The CompanyID column is the primary key for this table, and is a foreign key in several other tables",
    "Deductions": "Contains information about deductions from our customers' employees payroll",
    "Departments": "Contains information about our customers' departments",
    "Employees": "Contains information about our customers' employees. The EmployeeID column is the primary key for this table, and is a foreign key in several other tables",
    "FeatureUsage": "Contains information about our customers' usage of our platform features",
    "Feedback": "Contains information about our customers' feedback on our platform",
    "Goals": "Contains information about the goals set for our customers' employees",
    "Invoices": "Contains information about invoices issued to our customers",
    "LeaveRequests": "Contains information about leave requests submitted by our customers' employees",
    "LeaveTypes": "Contains information about leave types available for each customer",
    "PayrollRecords": "Contains information about our customers' employees' payroll records",
    "PerformanceReviews": "Contains information about performance reviews submitted by our customers' employees",
    "Positions": "Contains information about all the work positions at each company",
    "Subscriptions": "Contains information about subscriptions purchased by our customers",
    "UserSessions": "Tracks user sessions to analyse login frequency and session duration",
}

def get_tables_descriptions(query: str) -> str:

    return json.dumps(TABLES_DESCRIPTIONS)

# Create function that returns today's date
def get_today_date(query: str) -> str:

    # Getting today's date in string format
    today_date_string = datetime.now().strftime("%Y-%m-%d")
    return today_date_string

# Create function that runs a query and saves the results in a list
def run_query_save_results(db, query):
    res = db.run(query)
    res = [el for sub in ast.literal_eval(res) for el in sub]
    return res

# Create function to get distinct values from each text column in Employees table
def get_distinct_values_from_employees(query: str) -> str:

    nat = run_query_save_results(db,"SELECT DISTINCT Nationality FROM Employees")

    nat_str = (
        "List of unique values of the Nationality column : \n"
        + json.dumps(nat)
    )

    gen = run_query_save_results(db,"SELECT DISTINCT Gender FROM Employees")

    gen_str = (
        "List of unique values of the Gender column : \n"
        + json.dumps(gen)
    )

    stat = run_query_save_results(db,"SELECT DISTINCT EmploymentStatus FROM Employees")

    stat_str = (
        "List of unique values of the EmploymentStatus column : \n"
        + json.dumps(stat)
    )

    return nat_str + gen_str + stat_str


# Create function to get distinct values from each text column in Companies table
def get_distinct_values_from_companies(query: str) -> str:

    ind = run_query_save_results(db,"SELECT DISTINCT Industry FROM Companies")

    ind_str = (
        "List of unique values of the Industry column : \n"
        + json.dumps(ind)
    )

    lead = run_query_save_results(db,"SELECT DISTINCT LeadSource FROM Companies")

    lead_str = (
        "List of unique values of the LeadSource column : \n"
        + json.dumps(lead)
    )

    geo = run_query_save_results(db,"SELECT DISTINCT Geography FROM Companies")

    geo_str = (
        "List of unique values of the Geography column : \n"
        + json.dumps(geo)
    )

    return ind_str + lead_str + geo_str


# Create function to get distinct values from each text column in FeatureUsage table
def get_distinct_values_from_FeatureUsage(query: str) -> str:

    mod = run_query_save_results(db,"SELECT DISTINCT ModuleName FROM FeatureUsage")

    mod_str = (
        "List of unique values of the ModuleName column : \n"
        + json.dumps(mod)
    )

    tas = run_query_save_results(db,"SELECT DISTINCT TaskDescription FROM FeatureUsage")

    tas_str = (
        "List of unique values of the TaskDescription column : \n"
        + json.dumps(tas)
    )

    com = run_query_save_results(db,"SELECT DISTINCT CompletionStatus FROM FeatureUsage")

    com_str = (
        "List of unique values of the CompletionStatus column : \n"
        + json.dumps(com)
    )

    return mod_str + tas_str + com_str


# Create function to get distinct values from each text column in Feedback table
def get_distinct_values_from_Feedback(query: str) -> str:

    mod = run_query_save_results(db,"SELECT DISTINCT ModuleName FROM Feedback")

    mod_str = (
        "List of unique values of the ModuleName column : \n"
        + json.dumps(mod)
    )

    fed = run_query_save_results(db,"SELECT DISTINCT FeedbackType FROM Feedback")

    fed_str = (
        "List of unique values of the FeedbackType column : \n"
        + json.dumps(fed)
    )

    return mod_str + fed_str


# Create function to get distinct values from each text column in LeaveRequests table
def get_distinct_values_from_LeaveRequests(query: str) -> str:

    req = run_query_save_results(db,"SELECT DISTINCT RequestStatus FROM LeaveRequests")

    req_str = (
        "List of unique values of the RequestStatus column : \n"
        + json.dumps(req)
    )

    return req_str


# Create function to get distinct values from each text column in Subscriptions table
def get_distinct_values_from_Subscriptions(query: str) -> str:

    sta = run_query_save_results(db,"SELECT DISTINCT Status FROM Subscriptions")

    sta_str = (
        "List of unique values of the Status column : \n"
        + json.dumps(sta)
    )

    return sta_str

In [ ]:
# Use the functions above to create extra tools for our agent (in addition to the main SQL toolkit)
def extra_tools():
    tools = [
        Tool.from_function(
            func=get_tables_descriptions,
            name="get_tables_descriptions",
            description="Useful to get basic information about the contents of each table. A json is returned.",
        ),
        Tool.from_function(
            func=get_today_date,
            name="get_today_date",
            description="""Useful to get today's date. This is useful when the user needs to obtain information
            pertaining to a certain date range. For example, the user might want to obtain data for the last 6 months.""",
        ),
        Tool.from_function(
            func=get_distinct_values_from_employees,
            name="get_distinct_values_from_employees",
            description="Use this to get unique values for selected text columns in the Employees table.",
        ),
        Tool.from_function(
            func=get_distinct_values_from_companies,
            name="get_distinct_values_from_companies",
            description="Use this to get unique values for selected text columns in the Companies table.",
        ),
        Tool.from_function(
            func=get_distinct_values_from_FeatureUsage,
            name="get_distinct_values_from_FeatureUsage",
            description="Use this to get unique values for selected text columns in the FeatureUsage table.",
        ),
        Tool.from_function(
            func=get_distinct_values_from_Feedback,
            name="get_distinct_values_from_Feedback",
            description="Use this to get unique values for selected text columns in the Feedback table.",
        ),
        Tool.from_function(
            func=get_distinct_values_from_LeaveRequests,
            name="get_distinct_values_from_LeaveRequests",
            description="Use this to get unique values for selected text columns in the LeaveRequests table.",
        ),
        Tool.from_function(
            func=get_distinct_values_from_Subscriptions,
            name="get_distinct_values_from_Subscriptions",
            description="Use this to get unique values for selected text columns in the Subscriptions table.",
        ),
    ]
    return tools

extra_tools = extra_tools()

In [ ]:
# Create a prompt template for the agent's LLM prompt. Give the agent context and directions on how to think about the userâ€™s question.
prompt_template = """
You are a world class data analyst at a HR SaaS startup called Omni. Omni's customers are companies based in Asia
who subscribe to its platform to help them better manage their HR needs.

Your role is to help your colleagues from Omni interact with the company's SQL database using natural language.

You are given a bunch of tools that enable you to perform a variety of tasks. For example, you can transform
the user's question from natural language to SQL code, connect with the company's database and run queries,
get information about each table in the database as well as getting the date today.

No matter what your colleague's question is, you must always call the tool 'get_tables_descriptions' at the start
to understand about the contents of each table in the database.

In queries involving string or text comparisons, you should use the `LIKE` operator for fuzzy matching
and / or the `LOWER` operator for case-insensitive comparisons. In these situations, you should
also first check for a tool that allows you to obtain all unique values in that column. If a tool like this exists,
using it will allow you to identify the range of possible values in that column.

In queries involving company names from the Companies table, you should only use the `LOWER` operator for case-insensitive
comparisons. Never, ever use the `LIKE`operator!

Whenever possible, you should try to use the output of the executed query to answer your colleague's question. If you do
not know the answer, do not fabricate a response. Simply say you do not know.

If your colleague's question is ambiguous, you should get her to clarify what she means. Do not make assumptions.
For example, if your colleague asks who the top 3 customers are, you should ask what she means by top 3 -
is it based on billing amount, number of employees or something else?

You should always be polite and respectful in all of your interactions.

Your colleague's question: {input_question}

Your response:
"""

In [ ]:
# Create function to run agent with an input question
def run_agent_with_input(input_question):
    # Create the prompt with the input question
    prompt = prompt_template.format(input_question=input_question)

    # Create agent
    agent = create_sql_agent(
        llm=llm,
        toolkit=toolkit,
        agent_type="openai-tools",
        extra_tools=extra_tools,
        handle_parsing_errors=True,
        verbose=True,
        suffix=prompt,
    )

    # Run the agent with the input
    response = agent.invoke(input_question)

    return response

# Query examples

You can try out your own questions by changing the value of the question variable

In [ ]:
question = "how many customers are based in indonesia or MALAYSIA?"
response = run_agent_with_input(question)

# Display response from LLM
print(f"\n {response['output']}")

> Entering new SQL Agent Executor chain...

Invoking: `get_tables_descriptions` with `Companies`


{"AttendanceRecords": "Tracks daily attendance of our customers' employees", "Bonuses": "Contains information about bonuses awarded to our customers' employees", "Companies": "Contains information about our customers. The CompanyID column is the primary key for this table, and is a foreign key in several other tables", "Deductions": "Contains information about deductions from our customers' employees payroll", "Departments": "Contains information about our customers' departments", "Employees": "Contains information about our customers' employees. The EmployeeID column is the primary key for this table, and is a foreign key in several other tables", "FeatureUsage": "Contains information about our customers' usage of our platform features", "Feedback": "Contains information about our customers' feedback on our platform", "Goals": "Contains information about the goals set for our customers' employees", "Invoices": "Contains information about invoices issued to our customers", "LeaveRequests": "Contains information about leave requests submitted by our customers' employees", "LeaveTypes": "Contains information about leave types available for each customer", "PayrollRecords": "Contains information about our customers' employees' payroll records", "PerformanceReviews": "Contains information about performance reviews submitted by our customers' employees", "Positions": "Contains information about all the work positions at each company", "Subscriptions": "Contains information about subscriptions purchased by our customers", "UserSessions": "Tracks user sessions to analyse login frequency and session duration"}
Invoking: `get_distinct_values_from_companies` with `Country`


List of unique values of the Industry column :
["Energy", "Utilities", "Materials", "Industrials", "Financials", "Consumer Discretionary", "Information Technology", "Real Estate", "Health Care", "Consumer Staples", "Communication Services"]List of unique values of the LeadSource column :
["Direct", "Advertisement", "Referral", "Social Media", "Website"]List of unique values of the Geography column :
["Philippines", "Thailand", "Singapore", "Malaysia", "Hong Kong", "Indonesia"]
Invoking: `sql_db_query_checker` with `{'query': "SELECT COUNT(*) as customer_count FROM Companies WHERE LOWER(Geography) IN ('indonesia', 'malaysia')"}`


```sql
SELECT COUNT(*) as customer_count FROM Companies WHERE LOWER(Geography) IN ('indonesia', 'malaysia');
```
Invoking: `sql_db_query` with `{'query': "SELECT COUNT(*) as customer_count FROM Companies WHERE LOWER(Geography) IN ('indonesia', 'malaysia')"}`


[(30,)]There are 30 customers based in Indonesia or Malaysia.

> Finished chain.

 There are 30 customers based in Indonesia or Malaysia.

Cost in USD (obtained from LangSmith):

9,303 prompt tokens / $0.046515

66 completion tokens / $0.00099

In [ ]:
question = "How many of our customers have Korean employees"
response = run_agent_with_input(question)

# Display response from LLM
print(f"\n {response['output']}")

> Entering new SQL Agent Executor chain...

Invoking: `get_tables_descriptions` with `Employees, Companies`


{"AttendanceRecords": "Tracks daily attendance of our customers' employees", "Bonuses": "Contains information about bonuses awarded to our customers' employees", "Companies": "Contains information about our customers. The CompanyID column is the primary key for this table, and is a foreign key in several other tables", "Deductions": "Contains information about deductions from our customers' employees payroll", "Departments": "Contains information about our customers' departments", "Employees": "Contains information about our customers' employees. The EmployeeID column is the primary key for this table, and is a foreign key in several other tables", "FeatureUsage": "Contains information about our customers' usage of our platform features", "Feedback": "Contains information about our customers' feedback on our platform", "Goals": "Contains information about the goals set for our customers' employees", "Invoices": "Contains information about invoices issued to our customers", "LeaveRequests": "Contains information about leave requests submitted by our customers' employees", "LeaveTypes": "Contains information about leave types available for each customer", "PayrollRecords": "Contains information about our customers' employees' payroll records", "PerformanceReviews": "Contains information about performance reviews submitted by our customers' employees", "Positions": "Contains information about all the work positions at each company", "Subscriptions": "Contains information about subscriptions purchased by our customers", "UserSessions": "Tracks user sessions to analyse login frequency and session duration"}
Invoking: `get_distinct_values_from_employees` with `Nationality`


List of unique values of the Nationality column :
["China", "Philippines", "Thailand", "Vietnam", "Indonesia", "South Korea", "India", "Japan"]List of unique values of the Gender column :
["M", "F"]List of unique values of the EmploymentStatus column :
["Full-time", "Contract", "Part-time"]
Invoking: `sql_db_query_checker` with `{'query': "SELECT COUNT(DISTINCT CompanyID) AS CustomerCount FROM Employees WHERE LOWER(Nationality) = 'south korea'"}`


```sql
SELECT COUNT(DISTINCT CompanyID) AS CustomerCount FROM Employees WHERE LOWER(Nationality) = 'south korea'
```
Invoking: `sql_db_query` with `{'query': "SELECT COUNT(DISTINCT CompanyID) AS CustomerCount FROM Employees WHERE LOWER(Nationality) = 'south korea'"}`


[(100,)]There are 100 customers who have South Korean employees.

> Finished chain.

 There are 100 customers who have South Korean employees.

4,887 prompt tokens / $0.024435

39 completion tokens / $0.000585

In [ ]:
question = """Give me a breakdown of all customers by acquisition source. For example,
i want to know what percentage of customers came from referrals, socials and so on"""

response = run_agent_with_input(question)

# Display response from LLM
print(f"\n {response['output']}")

> Entering new SQL Agent Executor chain...

Invoking: `get_tables_descriptions` with `Companies`


{"AttendanceRecords": "Tracks daily attendance of our customers' employees", "Bonuses": "Contains information about bonuses awarded to our customers' employees", "Companies": "Contains information about our customers. The CompanyID column is the primary key for this table, and is a foreign key in several other tables", "Deductions": "Contains information about deductions from our customers' employees payroll", "Departments": "Contains information about our customers' departments", "Employees": "Contains information about our customers' employees. The EmployeeID column is the primary key for this table, and is a foreign key in several other tables", "FeatureUsage": "Contains information about our customers' usage of our platform features", "Feedback": "Contains information about our customers' feedback on our platform", "Goals": "Contains information about the goals set for our customers' employees", "Invoices": "Contains information about invoices issued to our customers", "LeaveRequests": "Contains information about leave requests submitted by our customers' employees", "LeaveTypes": "Contains information about leave types available for each customer", "PayrollRecords": "Contains information about our customers' employees' payroll records", "PerformanceReviews": "Contains information about performance reviews submitted by our customers' employees", "Positions": "Contains information about all the work positions at each company", "Subscriptions": "Contains information about subscriptions purchased by our customers", "UserSessions": "Tracks user sessions to analyse login frequency and session duration"}
Invoking: `get_distinct_values_from_companies` with `AcquisitionSource`


List of unique values of the Industry column :
["Energy", "Utilities", "Materials", "Industrials", "Financials", "Consumer Discretionary", "Information Technology", "Real Estate", "Health Care", "Consumer Staples", "Communication Services"]List of unique values of the LeadSource column :
["Direct", "Advertisement", "Referral", "Social Media", "Website"]List of unique values of the Geography column :
["Philippines", "Thailand", "Singapore", "Malaysia", "Hong Kong", "Indonesia"]
Invoking: `sql_db_query_checker` with `{'query': 'SELECT LeadSource, COUNT(*) * 100.0 / (SELECT COUNT(*) FROM Companies) AS Percentage FROM Companies GROUP BY LeadSource'}`


```sql
SELECT LeadSource, COUNT(*) * 100.0 / (SELECT COUNT(*) FROM Companies) AS Percentage
FROM Companies
GROUP BY LeadSource
```
Invoking: `sql_db_query` with `{'query': 'SELECT LeadSource, COUNT(*) * 100.0 / (SELECT COUNT(*) FROM Companies) AS Percentage FROM Companies GROUP BY LeadSource'}`


[('Advertisement', 22.0), ('Direct', 25.0), ('Referral', 18.0), ('Social Media', 18.0), ('Website', 17.0)]Here is the breakdown of all customers by acquisition source:

- **Direct**: 25.0%
- **Advertisement**: 22.0%
- **Referral**: 18.0%
- **Social Media**: 18.0%
- **Website**: 17.0%

> Finished chain.

 Here is the breakdown of all customers by acquisition source:

- **Direct**: 25.0%
- **Advertisement**: 22.0%
- **Referral**: 18.0%
- **Social Media**: 18.0%
- **Website**: 17.0%

5,283 prompt tokens / $0.026415

92 completion tokens / $0.00138

In [ ]:
question = """I am the account manager for bisnis indo. Can you find out what proportion of
          their employees are part time"""

response = run_agent_with_input(question)

# Display response from LLM
print(f"\n {response['output']}")

> Entering new SQL Agent Executor chain...

Invoking: `get_tables_descriptions` with `Employees, Companies`


{"AttendanceRecords": "Tracks daily attendance of our customers' employees", "Bonuses": "Contains information about bonuses awarded to our customers' employees", "Companies": "Contains information about our customers. The CompanyID column is the primary key for this table, and is a foreign key in several other tables", "Deductions": "Contains information about deductions from our customers' employees payroll", "Departments": "Contains information about our customers' departments", "Employees": "Contains information about our customers' employees. The EmployeeID column is the primary key for this table, and is a foreign key in several other tables", "FeatureUsage": "Contains information about our customers' usage of our platform features", "Feedback": "Contains information about our customers' feedback on our platform", "Goals": "Contains information about the goals set for our customers' employees", "Invoices": "Contains information about invoices issued to our customers", "LeaveRequests": "Contains information about leave requests submitted by our customers' employees", "LeaveTypes": "Contains information about leave types available for each customer", "PayrollRecords": "Contains information about our customers' employees' payroll records", "PerformanceReviews": "Contains information about performance reviews submitted by our customers' employees", "Positions": "Contains information about all the work positions at each company", "Subscriptions": "Contains information about subscriptions purchased by our customers", "UserSessions": "Tracks user sessions to analyse login frequency and session duration"}
Invoking: `get_distinct_values_from_employees` with `EmploymentStatus`


List of unique values of the Nationality column :
["China", "Philippines", "Thailand", "Vietnam", "Indonesia", "South Korea", "India", "Japan"]List of unique values of the Gender column :
["M", "F"]List of unique values of the EmploymentStatus column :
["Full-time", "Contract", "Part-time"]
Invoking: `sql_db_query_checker` with `{'query': "SELECT COUNT(*) AS total_employees, SUM(CASE WHEN LOWER(EmploymentStatus) = 'part-time' THEN 1 ELSE 0 END) AS part_time_employees FROM Employees WHERE CompanyID = (SELECT CompanyID FROM Companies WHERE LOWER(CompanyName) = 'bisnis indo')"}`


```sql
SELECT COUNT(*) AS total_employees,
       SUM(CASE WHEN LOWER(EmploymentStatus) = 'part-time' THEN 1 ELSE 0 END) AS part_time_employees
FROM Employees
WHERE CompanyID = (SELECT CompanyID FROM Companies WHERE LOWER(CompanyName) = 'bisnis indo');
```
Invoking: `sql_db_query` with `{'query': "SELECT COUNT(*) AS total_employees, SUM(CASE WHEN LOWER(EmploymentStatus) = 'part-time' THEN 1 ELSE 0 END) AS part_time_employees FROM Employees WHERE CompanyID = (SELECT CompanyID FROM Companies WHERE LOWER(CompanyName) = 'bisnis indo')"}`


[(50, 15)]For the company "Bisnis Indo," there are a total of 50 employees, out of which 15 are part-time.

To find the proportion of part-time employees:
\[ \text{Proportion of part-time employees} = \frac{\text{Number of part-time employees}}{\text{Total number of employees}} = \frac{15}{50} = 0.3 \]

So, 30% of the employees at Bisnis Indo are part-time.

> Finished chain.

 For the company "Bisnis Indo," there are a total of 50 employees, out of which 15 are part-time.

To find the proportion of part-time employees:
\[ \text{Proportion of part-time employees} = \frac{\text{Number of part-time employees}}{\text{Total number of employees}} = \frac{15}{50} = 0.3 \]

So, 30% of the employees at Bisnis Indo are part-time.

5,160 prompt tokens / $0.0258

166 completion tokens / $0.00249

In [ ]:
question = "Which customer from the property sector has the most employees? How many employees does it have?"

response = run_agent_with_input(question)

# Display response from LLM
print(f"\n {response['output']}")

> Entering new SQL Agent Executor chain...

Invoking: `get_tables_descriptions` with `Companies, Employees`


{"AttendanceRecords": "Tracks daily attendance of our customers' employees", "Bonuses": "Contains information about bonuses awarded to our customers' employees", "Companies": "Contains information about our customers. The CompanyID column is the primary key for this table, and is a foreign key in several other tables", "Deductions": "Contains information about deductions from our customers' employees payroll", "Departments": "Contains information about our customers' departments", "Employees": "Contains information about our customers' employees. The EmployeeID column is the primary key for this table, and is a foreign key in several other tables", "FeatureUsage": "Contains information about our customers' usage of our platform features", "Feedback": "Contains information about our customers' feedback on our platform", "Goals": "Contains information about the goals set for our customers' employees", "Invoices": "Contains information about invoices issued to our customers", "LeaveRequests": "Contains information about leave requests submitted by our customers' employees", "LeaveTypes": "Contains information about leave types available for each customer", "PayrollRecords": "Contains information about our customers' employees' payroll records", "PerformanceReviews": "Contains information about performance reviews submitted by our customers' employees", "Positions": "Contains information about all the work positions at each company", "Subscriptions": "Contains information about subscriptions purchased by our customers", "UserSessions": "Tracks user sessions to analyse login frequency and session duration"}
Invoking: `get_distinct_values_from_companies` with `Sector`


List of unique values of the Industry column :
["Energy", "Utilities", "Materials", "Industrials", "Financials", "Consumer Discretionary", "Information Technology", "Real Estate", "Health Care", "Consumer Staples", "Communication Services"]List of unique values of the LeadSource column :
["Direct", "Advertisement", "Referral", "Social Media", "Website"]List of unique values of the Geography column :
["Philippines", "Thailand", "Singapore", "Malaysia", "Hong Kong", "Indonesia"]
Invoking: `sql_db_schema` with `{'table_names': 'Companies, Employees'}`



CREATE TABLE "Companies" (
	"CompanyID" INTEGER,
	"CompanyName" TEXT,
	"Industry" TEXT,
	"LeadSource" TEXT,
	"CustomerSince" TEXT,
	"Geography" TEXT
)

/*
3 rows from Companies table:
CompanyID	CompanyName	Industry	LeadSource	CustomerSince	Geography
1	Bisnis Indo	Energy	Direct	3/8/21	Philippines
2	CV Nusantara	Utilities	Advertisement	23/2/20	Thailand
3	Perusahaan Indo	Materials	Advertisement	9/9/20	Singapore
*/


CREATE TABLE "Employees" (
	"EmployeeID" INTEGER,
	"CompanyID" INTEGER,
	"FirstName" TEXT,
	"LastName" TEXT,
	"DateOfBirth" TEXT,
	"Gender" TEXT,
	"Title" TEXT,
	"Nationality" TEXT,
	"ContactNumber" TEXT,
	"Email" TEXT,
	"HireDate" TEXT,
	"DepartmentID" INTEGER,
	"PositionID" INTEGER,
	"ManagerID" REAL,
	"EmploymentStatus" TEXT,
	"ProfileCompletionPercentage" REAL,
	"LastLoginDate" TEXT
)

/*
3 rows from Employees table:
EmployeeID	CompanyID	FirstName	LastName	DateOfBirth	Gender	Title	Nationality	ContactNumber	Email	HireDate	DepartmentID	PositionID	ManagerID	EmploymentStatus	ProfileCompletionPercentage	LastLoginDate
1	1	Mohanlal	Sujjaboriboon	2002-04-25	M	Musician	China	001-660-448-7647x59382	dana50@example.net	2021-09-07	7	13	27.0	Full-time	96.4	2024-01-02
2	1	Pari	Carter	1973-01-02	M	Sports therapist	Philippines	3165097535	toddturner@example.org	2019-04-25	6	11	34.0	Full-time	67.54	2024-01-01
3	1	Veer	Gill	1994-07-07	F	Clinical embryologist	Thailand	384-818-5839x8947	stephanie18@example.net	2016-02-12	10	19	32.0	Full-time	76.37	2023-06-10
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT c.CompanyName, COUNT(e.EmployeeID) as EmployeeCount \nFROM Companies c \nJOIN Employees e ON c.CompanyID = e.CompanyID \nWHERE LOWER(c.Industry) = 'real estate' \nGROUP BY c.CompanyID \nORDER BY EmployeeCount DESC \nLIMIT 1;"}`


```sql
SELECT c.CompanyName, COUNT(e.EmployeeID) as EmployeeCount
FROM Companies c
JOIN Employees e ON c.CompanyID = e.CompanyID
WHERE LOWER(c.Industry) = 'real estate'
GROUP BY c.CompanyID
ORDER BY EmployeeCount DESC
LIMIT 1;
```
Invoking: `sql_db_query` with `{'query': "SELECT c.CompanyName, COUNT(e.EmployeeID) as EmployeeCount \nFROM Companies c \nJOIN Employees e ON c.CompanyID = e.CompanyID \nWHERE LOWER(c.Industry) = 'real estate' \nGROUP BY c.CompanyID \nORDER BY EmployeeCount DESC \nLIMIT 1;"}`


[('Verbena Industries', 50)]The customer from the property sector with the most employees is **Verbena Industries**, which has **50 employees**.

> Finished chain.

 The customer from the property sector with the most employees is **Verbena Industries**, which has **50 employees**.

9,840 prompt tokens / $0.0492

149 completion tokens / $0.002235

In [ ]:
question = """Show me the average feedback score for each module in the first half of 2024. How has it changed compared to
          the second half of 2023?"""
response = run_agent_with_input(question)

# Display response from LLM
print(f"\n {response['output']}")

> Entering new SQL Agent Executor chain...

Invoking: `get_tables_descriptions` with `Feedback`


{"AttendanceRecords": "Tracks daily attendance of our customers' employees", "Bonuses": "Contains information about bonuses awarded to our customers' employees", "Companies": "Contains information about our customers. The CompanyID column is the primary key for this table, and is a foreign key in several other tables", "Deductions": "Contains information about deductions from our customers' employees payroll", "Departments": "Contains information about our customers' departments", "Employees": "Contains information about our customers' employees. The EmployeeID column is the primary key for this table, and is a foreign key in several other tables", "FeatureUsage": "Contains information about our customers' usage of our platform features", "Feedback": "Contains information about our customers' feedback on our platform", "Goals": "Contains information about the goals set for our customers' employees", "Invoices": "Contains information about invoices issued to our customers", "LeaveRequests": "Contains information about leave requests submitted by our customers' employees", "LeaveTypes": "Contains information about leave types available for each customer", "PayrollRecords": "Contains information about our customers' employees' payroll records", "PerformanceReviews": "Contains information about performance reviews submitted by our customers' employees", "Positions": "Contains information about all the work positions at each company", "Subscriptions": "Contains information about subscriptions purchased by our customers", "UserSessions": "Tracks user sessions to analyse login frequency and session duration"}
Invoking: `sql_db_schema` with `{'table_names': 'Feedback'}`



CREATE TABLE "Feedback" (
	"FeedbackID" INTEGER,
	"CompanyID" INTEGER,
	"EmployeeID" INTEGER,
	"ModuleName" TEXT,
	"FeedbackType" TEXT,
	"FeedbackText" TEXT,
	"FeedbackDate" TEXT,
	"Rating" REAL
)

/*
3 rows from Feedback table:
FeedbackID	CompanyID	EmployeeID	ModuleName	FeedbackType	FeedbackText	FeedbackDate	Rating
1	1	35	Leave Management	Suggestion for improvement	There is a glitch in the payroll calculation.	2024-03-28	5.0
2	1	13	Performance Review	Suggestion for improvement	I encountered an error while trying to edit payroll details.	2024-02-26	3.0
3	1	4	Performance Review	Bug	Suggestion: Provide more detailed error messages.	2023-10-29	3.0
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT ModuleName, AVG(Rating) as AvgRating FROM Feedback WHERE FeedbackDate BETWEEN '2024-01-01' AND '2024-06-30' GROUP BY ModuleName"}`


```sql
SELECT ModuleName, AVG(Rating) as AvgRating
FROM Feedback
WHERE FeedbackDate BETWEEN '2024-01-01' AND '2024-06-30'
GROUP BY ModuleName
```
Invoking: `sql_db_query_checker` with `{'query': "SELECT ModuleName, AVG(Rating) as AvgRating FROM Feedback WHERE FeedbackDate BETWEEN '2023-07-01' AND '2023-12-31' GROUP BY ModuleName"}`


```sql
SELECT ModuleName, AVG(Rating) as AvgRating
FROM Feedback
WHERE FeedbackDate BETWEEN '2023-07-01' AND '2023-12-31'
GROUP BY ModuleName
```
Invoking: `sql_db_query` with `{'query': "SELECT ModuleName, AVG(Rating) as AvgRating FROM Feedback WHERE FeedbackDate BETWEEN '2024-01-01' AND '2024-06-30' GROUP BY ModuleName"}`


[('Leave Management', 3.0231631382316313), ('Payroll', 2.9872595553335), ('Performance Review', 3.00904295403165)]
Invoking: `sql_db_query` with `{'query': "SELECT ModuleName, AVG(Rating) as AvgRating FROM Feedback WHERE FeedbackDate BETWEEN '2023-07-01' AND '2023-12-31' GROUP BY ModuleName"}`


[('Leave Management', 2.970548604427334), ('Payroll', 2.9819872167344568), ('Performance Review', 2.999610516066212)]Here are the average feedback scores for each module in the first half of 2024 and the second half of 2023:

**First Half of 2024:**
- Leave Management: 3.02
- Payroll: 2.99
- Performance Review: 3.01

**Second Half of 2023:**
- Leave Management: 2.97
- Payroll: 2.98
- Performance Review: 3.00

**Changes in Average Feedback Scores:**
- Leave Management: Increased from 2.97 to 3.02
- Payroll: Slightly increased from 2.98 to 2.99
- Performance Review: Slightly increased from 3.00 to 3.01

Overall, there has been a slight improvement in the average feedback scores for all modules from the second half of 2023 to the first half of 2024.

> Finished chain.

 Here are the average feedback scores for each module in the first half of 2024 and the second half of 2023:

**First Half of 2024:**
- Leave Management: 3.02
- Payroll: 2.99
- Performance Review: 3.01

**Second Half of 2023:**
- Leave Management: 2.97
- Payroll: 2.98
- Performance Review: 3.00

**Changes in Average Feedback Scores:**
- Leave Management: Increased from 2.97 to 3.02
- Payroll: Slightly increased from 2.98 to 2.99
- Performance Review: Slightly increased from 3.00 to 3.01

Overall, there has been a slight improvement in the average feedback scores for all modules from the second half of 2023 to the first half of 2024.

5,888 prompt tokens / $0.02944

283 completion tokens / $0.004245

In [ ]:
question = """Which customer from HK used payroll module most frequently last week?"""

response = run_agent_with_input(question)

# Display response from LLM
print(f"\n {response['output']}")

> Entering new SQL Agent Executor chain...

Invoking: `get_tables_descriptions` with `Companies, FeatureUsage`


{"AttendanceRecords": "Tracks daily attendance of our customers' employees", "Bonuses": "Contains information about bonuses awarded to our customers' employees", "Companies": "Contains information about our customers. The CompanyID column is the primary key for this table, and is a foreign key in several other tables", "Deductions": "Contains information about deductions from our customers' employees payroll", "Departments": "Contains information about our customers' departments", "Employees": "Contains information about our customers' employees. The EmployeeID column is the primary key for this table, and is a foreign key in several other tables", "FeatureUsage": "Contains information about our customers' usage of our platform features", "Feedback": "Contains information about our customers' feedback on our platform", "Goals": "Contains information about the goals set for our customers' employees", "Invoices": "Contains information about invoices issued to our customers", "LeaveRequests": "Contains information about leave requests submitted by our customers' employees", "LeaveTypes": "Contains information about leave types available for each customer", "PayrollRecords": "Contains information about our customers' employees' payroll records", "PerformanceReviews": "Contains information about performance reviews submitted by our customers' employees", "Positions": "Contains information about all the work positions at each company", "Subscriptions": "Contains information about subscriptions purchased by our customers", "UserSessions": "Tracks user sessions to analyse login frequency and session duration"}
Invoking: `get_distinct_values_from_companies` with `Country`


List of unique values of the Industry column :
["Energy", "Utilities", "Materials", "Industrials", "Financials", "Consumer Discretionary", "Information Technology", "Real Estate", "Health Care", "Consumer Staples", "Communication Services"]List of unique values of the LeadSource column :
["Direct", "Advertisement", "Referral", "Social Media", "Website"]List of unique values of the Geography column :
["Philippines", "Thailand", "Singapore", "Malaysia", "Hong Kong", "Indonesia"]
Invoking: `get_distinct_values_from_FeatureUsage` with `FeatureName`


List of unique values of the ModuleName column :
["Payroll", "Leave Management", "Performance Review"]List of unique values of the TaskDescription column :
["Edit payroll", "Submit for approval", "Create new leave", "Create payroll notifications", "Delete review", "Submit payroll", "Delete leave submission", "Appeal leave status", "Start new review", "Edit existing review"]List of unique values of the CompletionStatus column :
["Not completed", "Completed"]
Invoking: `get_today_date` with ``


2024-05-27
Invoking: `sql_db_query_checker` with `{'query': "SELECT c.CompanyName, COUNT(f.FeatureUsageID) as UsageCount \nFROM Companies c \nJOIN FeatureUsage f ON c.CompanyID = f.CompanyID \nWHERE LOWER(c.Country) = 'hong kong' AND LOWER(f.FeatureName) = 'payroll' \nAND f.UsageDate BETWEEN DATE('2024-05-20') AND DATE('2024-05-26') \nGROUP BY c.CompanyName \nORDER BY UsageCount DESC \nLIMIT 1;"}`


```sql
SELECT c.CompanyName, COUNT(f.FeatureUsageID) as UsageCount
FROM Companies c
JOIN FeatureUsage f ON c.CompanyID = f.CompanyID
WHERE LOWER(c.Country) = 'hong kong' AND LOWER(f.FeatureName) = 'payroll'
AND f.UsageDate BETWEEN DATE('2024-05-20') AND DATE('2024-05-26')
GROUP BY c.CompanyName
ORDER BY UsageCount DESC
LIMIT 1;
```
Invoking: `sql_db_query` with `{'query': "SELECT c.CompanyName, COUNT(f.FeatureUsageID) as UsageCount \nFROM Companies c \nJOIN FeatureUsage f ON c.CompanyID = f.CompanyID \nWHERE LOWER(c.Country) = 'hong kong' AND LOWER(f.FeatureName) = 'payroll' \nAND f.UsageDate BETWEEN DATE('2024-05-20') AND DATE('2024-05-26') \nGROUP BY c.CompanyName \nORDER BY UsageCount DESC \nLIMIT 1;"}`


Error: (sqlite3.OperationalError) no such column: f.FeatureUsageID
[SQL: SELECT c.CompanyName, COUNT(f.FeatureUsageID) as UsageCount
FROM Companies c
JOIN FeatureUsage f ON c.CompanyID = f.CompanyID
WHERE LOWER(c.Country) = 'hong kong' AND LOWER(f.FeatureName) = 'payroll'
AND f.UsageDate BETWEEN DATE('2024-05-20') AND DATE('2024-05-26')
GROUP BY c.CompanyName
ORDER BY UsageCount DESC
LIMIT 1;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Invoking: `sql_db_schema` with `{'table_names': 'FeatureUsage'}`



CREATE TABLE "FeatureUsage" (
	"UsageID" INTEGER,
	"CompanyID" INTEGER,
	"EmployeeID" INTEGER,
	"ModuleName" TEXT,
	"TaskDescription" TEXT,
	"StartTime" TEXT,
	"EndTime" TEXT,
	"TaskDuration" REAL,
	"CompletionStatus" TEXT,
	"ErrorDetails" TEXT,
	"LastUsedDate" TEXT
)

/*
3 rows from FeatureUsage table:
UsageID	CompanyID	EmployeeID	ModuleName	TaskDescription	StartTime	EndTime	TaskDuration	CompletionStatus	ErrorDetails	LastUsedDate
1	1	9	Payroll	Edit payroll	2024-05-14 05:36:23.638602	2024-05-14 06:29:23.638602	53.0	Not completed	Connection timeout	2024-05-08 23:21:00.923590
2	1	41	Leave Management	Submit for approval	2024-04-18 10:43:02.478077	2024-04-18 11:21:02.478077	38.0	Not completed	Database error	2024-04-08 14:40:31.575588
3	1	17	Leave Management	Create new leave	2024-04-23 23:09:30.429753	2024-04-23 23:57:30.429753	48.0	Not completed	Unable to process user input	2024-04-17 11:53:03.068503
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT c.CompanyName, COUNT(f.UsageID) as UsageCount \nFROM Companies c \nJOIN FeatureUsage f ON c.CompanyID = f.CompanyID \nWHERE LOWER(c.Country) = 'hong kong' AND LOWER(f.ModuleName) = 'payroll' \nAND f.LastUsedDate BETWEEN DATE('2024-05-20') AND DATE('2024-05-26') \nGROUP BY c.CompanyName \nORDER BY UsageCount DESC \nLIMIT 1;"}`


```sql
SELECT c.CompanyName, COUNT(f.UsageID) as UsageCount
FROM Companies c
JOIN FeatureUsage f ON c.CompanyID = f.CompanyID
WHERE LOWER(c.Country) = 'hong kong' AND LOWER(f.ModuleName) = 'payroll'
AND f.LastUsedDate BETWEEN DATE('2024-05-20') AND DATE('2024-05-26')
GROUP BY c.CompanyName
ORDER BY UsageCount DESC
LIMIT 1;
```
Invoking: `sql_db_query` with `{'query': "SELECT c.CompanyName, COUNT(f.UsageID) as UsageCount \nFROM Companies c \nJOIN FeatureUsage f ON c.CompanyID = f.CompanyID \nWHERE LOWER(c.Country) = 'hong kong' AND LOWER(f.ModuleName) = 'payroll' \nAND f.LastUsedDate BETWEEN DATE('2024-05-20') AND DATE('2024-05-26') \nGROUP BY c.CompanyName \nORDER BY UsageCount DESC \nLIMIT 1;"}`


Error: (sqlite3.OperationalError) no such column: c.Country
[SQL: SELECT c.CompanyName, COUNT(f.UsageID) as UsageCount
FROM Companies c
JOIN FeatureUsage f ON c.CompanyID = f.CompanyID
WHERE LOWER(c.Country) = 'hong kong' AND LOWER(f.ModuleName) = 'payroll'
AND f.LastUsedDate BETWEEN DATE('2024-05-20') AND DATE('2024-05-26')
GROUP BY c.CompanyName
ORDER BY UsageCount DESC
LIMIT 1;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Invoking: `sql_db_schema` with `{'table_names': 'Companies'}`



CREATE TABLE "Companies" (
	"CompanyID" INTEGER,
	"CompanyName" TEXT,
	"Industry" TEXT,
	"LeadSource" TEXT,
	"CustomerSince" TEXT,
	"Geography" TEXT
)

/*
3 rows from Companies table:
CompanyID	CompanyName	Industry	LeadSource	CustomerSince	Geography
1	Bisnis Indo	Energy	Direct	3/8/21	Philippines
2	CV Nusantara	Utilities	Advertisement	23/2/20	Thailand
3	Perusahaan Indo	Materials	Advertisement	9/9/20	Singapore
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT c.CompanyName, COUNT(f.UsageID) as UsageCount \nFROM Companies c \nJOIN FeatureUsage f ON c.CompanyID = f.CompanyID \nWHERE LOWER(c.Geography) = 'hong kong' AND LOWER(f.ModuleName) = 'payroll' \nAND f.LastUsedDate BETWEEN DATE('2024-05-20') AND DATE('2024-05-26') \nGROUP BY c.CompanyName \nORDER BY UsageCount DESC \nLIMIT 1;"}`


```sql
SELECT c.CompanyName, COUNT(f.UsageID) as UsageCount
FROM Companies c
JOIN FeatureUsage f ON c.CompanyID = f.CompanyID
WHERE LOWER(c.Geography) = 'hong kong' AND LOWER(f.ModuleName) = 'payroll'
AND f.LastUsedDate BETWEEN DATE('2024-05-20') AND DATE('2024-05-26')
GROUP BY c.CompanyName
ORDER BY UsageCount DESC
LIMIT 1;
```
Invoking: `sql_db_query` with `{'query': "SELECT c.CompanyName, COUNT(f.UsageID) as UsageCount \nFROM Companies c \nJOIN FeatureUsage f ON c.CompanyID = f.CompanyID \nWHERE LOWER(c.Geography) = 'hong kong' AND LOWER(f.ModuleName) = 'payroll' \nAND f.LastUsedDate BETWEEN DATE('2024-05-20') AND DATE('2024-05-26') \nGROUP BY c.CompanyName \nORDER BY UsageCount DESC \nLIMIT 1;"}`


[('Tulip Industries', 3)]The customer from Hong Kong who used the payroll module most frequently last week is **Tulip Industries**, with a total of 3 usages.

> Finished chain.

 The customer from Hong Kong who used the payroll module most frequently last week is **Tulip Industries**, with a total of 3 usages.

17,715 prompt tokens / $0.088575

323 completion tokens / $0.004845

In [ ]:
question = """What is the average session duration for cv asia's employees for each month in 2024"""

response = run_agent_with_input(question)

# Display response from LLM
print(f"\n {response['output']}")

> Entering new SQL Agent Executor chain...

Invoking: `get_tables_descriptions` with `Employees, Companies, Sessions`


{"AttendanceRecords": "Tracks daily attendance of our customers' employees", "Bonuses": "Contains information about bonuses awarded to our customers' employees", "Companies": "Contains information about our customers. The CompanyID column is the primary key for this table, and is a foreign key in several other tables", "Deductions": "Contains information about deductions from our customers' employees payroll", "Departments": "Contains information about our customers' departments", "Employees": "Contains information about our customers' employees. The EmployeeID column is the primary key for this table, and is a foreign key in several other tables", "FeatureUsage": "Contains information about our customers' usage of our platform features", "Feedback": "Contains information about our customers' feedback on our platform", "Goals": "Contains information about the goals set for our customers' employees", "Invoices": "Contains information about invoices issued to our customers", "LeaveRequests": "Contains information about leave requests submitted by our customers' employees", "LeaveTypes": "Contains information about leave types available for each customer", "PayrollRecords": "Contains information about our customers' employees' payroll records", "PerformanceReviews": "Contains information about performance reviews submitted by our customers' employees", "Positions": "Contains information about all the work positions at each company", "Subscriptions": "Contains information about subscriptions purchased by our customers", "UserSessions": "Tracks user sessions to analyse login frequency and session duration"}
Invoking: `get_distinct_values_from_companies` with `CompanyName`


List of unique values of the Industry column :
["Energy", "Utilities", "Materials", "Industrials", "Financials", "Consumer Discretionary", "Information Technology", "Real Estate", "Health Care", "Consumer Staples", "Communication Services"]List of unique values of the LeadSource column :
["Direct", "Advertisement", "Referral", "Social Media", "Website"]List of unique values of the Geography column :
["Philippines", "Thailand", "Singapore", "Malaysia", "Hong Kong", "Indonesia"]
Invoking: `get_distinct_values_from_employees` with `CompanyID`


List of unique values of the Nationality column :
["China", "Philippines", "Thailand", "Vietnam", "Indonesia", "South Korea", "India", "Japan"]List of unique values of the Gender column :
["M", "F"]List of unique values of the EmploymentStatus column :
["Full-time", "Contract", "Part-time"]
Invoking: `get_distinct_values_from_FeatureUsage` with `FeatureName`


List of unique values of the ModuleName column :
["Payroll", "Leave Management", "Performance Review"]List of unique values of the TaskDescription column :
["Edit payroll", "Submit for approval", "Create new leave", "Create payroll notifications", "Delete review", "Submit payroll", "Delete leave submission", "Appeal leave status", "Start new review", "Edit existing review"]List of unique values of the CompletionStatus column :
["Not completed", "Completed"]
Invoking: `get_distinct_values_from_FeatureUsage` with `CompanyID`


List of unique values of the ModuleName column :
["Payroll", "Leave Management", "Performance Review"]List of unique values of the TaskDescription column :
["Edit payroll", "Submit for approval", "Create new leave", "Create payroll notifications", "Delete review", "Submit payroll", "Delete leave submission", "Appeal leave status", "Start new review", "Edit existing review"]List of unique values of the CompletionStatus column :
["Not completed", "Completed"]
Invoking: `sql_db_schema` with `{'table_names': 'Companies, Employees, UserSessions'}`



CREATE TABLE "Companies" (
	"CompanyID" INTEGER,
	"CompanyName" TEXT,
	"Industry" TEXT,
	"NumberOfEmployees" INTEGER,
	"LeadSource" TEXT,
	"CustomerSince" TEXT,
	"Geography" TEXT
)

/*
3 rows from Companies table:
CompanyID	CompanyName	Industry	NumberOfEmployees	LeadSource	CustomerSince	Geography
1	Bisnis Indo	Energy	458	Direct	3/8/21	Philippines
2	CV Nusantara	Utilities	551	Advertisement	23/2/20	Thailand
3	Perusahaan Indo	Materials	304	Advertisement	9/9/20	Singapore
*/


CREATE TABLE "Employees" (
	"EmployeeID" INTEGER,
	"CompanyID" INTEGER,
	"FirstName" TEXT,
	"LastName" TEXT,
	"DateOfBirth" TEXT,
	"Gender" TEXT,
	"Title" TEXT,
	"Nationality" TEXT,
	"ContactNumber" TEXT,
	"Email" TEXT,
	"HireDate" TEXT,
	"DepartmentID" INTEGER,
	"PositionID" INTEGER,
	"ManagerID" REAL,
	"EmploymentStatus" TEXT,
	"ProfileCompletionPercentage" REAL,
	"LastLoginDate" TEXT
)

/*
3 rows from Employees table:
EmployeeID	CompanyID	FirstName	LastName	DateOfBirth	Gender	Title	Nationality	ContactNumber	Email	HireDate	DepartmentID	PositionID	ManagerID	EmploymentStatus	ProfileCompletionPercentage	LastLoginDate
1	1	Mohanlal	Sujjaboriboon	2002-04-25	M	Musician	China	001-660-448-7647x59382	dana50@example.net	2021-09-07	7	13	27.0	Full-time	96.4	2024-01-02
2	1	Pari	Carter	1973-01-02	M	Sports therapist	Philippines	3165097535	toddturner@example.org	2019-04-25	6	11	34.0	Full-time	67.54	2024-01-01
3	1	Veer	Gill	1994-07-07	F	Clinical embryologist	Thailand	384-818-5839x8947	stephanie18@example.net	2016-02-12	10	19	32.0	Full-time	76.37	2023-06-10
*/


CREATE TABLE "UserSessions" (
	"SessionID" INTEGER,
	"EmployeeID" INTEGER,
	"CompanyID" INTEGER,
	"LoginTime" TEXT,
	"LogoutTime" TEXT
)

/*
3 rows from UserSessions table:
SessionID	EmployeeID	CompanyID	LoginTime	LogoutTime
1	39	1	2024-03-29 01:37:00.474208	2024-03-29 01:49:00.474208
2	17	1	2024-02-27 03:16:03.431663	2024-02-27 03:22:03.431663
3	35	1	2023-10-29 10:44:02.859038	2023-10-29 11:44:02.859038
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT strftime('%Y-%m', LoginTime) AS Month, AVG(julianday(LogoutTime) - julianday(LoginTime)) * 24 * 60 AS AvgSessionDurationMinutes FROM UserSessions WHERE CompanyID = (SELECT CompanyID FROM Companies WHERE LOWER(CompanyName) = 'cv asia') AND strftime('%Y', LoginTime) = '2024' GROUP BY Month"}`


```sql
SELECT strftime('%Y-%m', LoginTime) AS Month, AVG(julianday(LogoutTime) - julianday(LoginTime)) * 24 * 60 AS AvgSessionDurationMinutes
FROM UserSessions
WHERE CompanyID = (SELECT CompanyID FROM Companies WHERE LOWER(CompanyName) = 'cv asia')
AND strftime('%Y', LoginTime) = '2024'
GROUP BY Month
```
Invoking: `sql_db_query` with `{'query': "SELECT strftime('%Y-%m', LoginTime) AS Month, AVG(julianday(LogoutTime) - julianday(LoginTime)) * 24 * 60 AS AvgSessionDurationMinutes FROM UserSessions WHERE CompanyID = (SELECT CompanyID FROM Companies WHERE LOWER(CompanyName) = 'cv asia') AND strftime('%Y', LoginTime) = '2024' GROUP BY Month"}`


[('2024-01', 67.71428571348744), ('2024-02', 63.10714278370142), ('2024-03', 53.02380955645016), ('2024-04', 59.05555550940335), ('2024-05', 53.00000012665988)]The average session duration for CV Asia's employees for each month in 2024 is as follows:

- January 2024: 67.71 minutes
- February 2024: 63.11 minutes
- March 2024: 53.02 minutes
- April 2024: 59.06 minutes
- May 2024: 53.00 minutes

> Finished chain.

 The average session duration for CV Asia's employees for each month in 2024 is as follows:

- January 2024: 67.71 minutes
- February 2024: 63.11 minutes
- March 2024: 53.02 minutes
- April 2024: 59.06 minutes
- May 2024: 53.00 minutes

13,379 prompt tokens / $0.066895

168 completion tokens / $0.00252

In [ ]:
question = """Which IT companies from malaysia have subscription plans worth more than $1000"""
response = run_agent_with_input(question)

# Display response from LLM
print(f"\n {response['output']}")

> Entering new SQL Agent Executor chain...

Invoking: `get_tables_descriptions` with `Companies, Subscriptions`


{"AttendanceRecords": "Tracks daily attendance of our customers' employees", "Bonuses": "Contains information about bonuses awarded to our customers' employees", "Companies": "Contains information about our customers. The CompanyID column is the primary key for this table, and is a foreign key in several other tables", "Deductions": "Contains information about deductions from our customers' employees payroll", "Departments": "Contains information about our customers' departments", "Employees": "Contains information about our customers' employees. The EmployeeID column is the primary key for this table, and is a foreign key in several other tables", "FeatureUsage": "Contains information about our customers' usage of our platform features", "Feedback": "Contains information about our customers' feedback on our platform", "Goals": "Contains information about the goals set for our customers' employees", "Invoices": "Contains information about invoices issued to our customers", "LeaveRequests": "Contains information about leave requests submitted by our customers' employees", "LeaveTypes": "Contains information about leave types available for each customer", "PayrollRecords": "Contains information about our customers' employees' payroll records", "PerformanceReviews": "Contains information about performance reviews submitted by our customers' employees", "Positions": "Contains information about all the work positions at each company", "Subscriptions": "Contains information about subscriptions purchased by our customers", "UserSessions": "Tracks user sessions to analyse login frequency and session duration"}
Invoking: `get_distinct_values_from_companies` with `Industry, Country`


List of unique values of the Industry column :
["Energy", "Utilities", "Materials", "Industrials", "Financials", "Consumer Discretionary", "Information Technology", "Real Estate", "Health Care", "Consumer Staples", "Communication Services"]List of unique values of the LeadSource column :
["Direct", "Advertisement", "Referral", "Social Media", "Website"]List of unique values of the Geography column :
["Philippines", "Thailand", "Singapore", "Malaysia", "Hong Kong", "Indonesia"]
Invoking: `get_distinct_values_from_subscriptions` with `Amount`


get_distinct_values_from_subscriptions is not a valid tool, try one of [sql_db_query, sql_db_schema, sql_db_list_tables, sql_db_query_checker, get_tables_descriptions, get_today_date, get_distinct_values_from_employees, get_distinct_values_from_companies, get_distinct_values_from_FeatureUsage, get_distinct_values_from_Feedback, get_distinct_values_from_LeaveRequests, get_distinct_values_from_Subscriptions].
Invoking: `sql_db_schema` with `{'table_names': 'Companies, Subscriptions'}`



CREATE TABLE "Companies" (
	"CompanyID" INTEGER,
	"CompanyName" TEXT,
	"Industry" TEXT,
	"NumberOfEmployees" INTEGER,
	"LeadSource" TEXT,
	"CustomerSince" TEXT,
	"Geography" TEXT
)

/*
3 rows from Companies table:
CompanyID	CompanyName	Industry	NumberOfEmployees	LeadSource	CustomerSince	Geography
1	Bisnis Indo	Energy	458	Direct	3/8/21	Philippines
2	CV Nusantara	Utilities	551	Advertisement	23/2/20	Thailand
3	Perusahaan Indo	Materials	304	Advertisement	9/9/20	Singapore
*/


CREATE TABLE "Subscriptions" (
	"SubscriptionID" INTEGER,
	"CompanyID" INTEGER,
	"NumberOfModules" INTEGER,
	"StartDate" TEXT,
	"EndDate" TEXT,
	"Status" TEXT,
	"RenewalDate" TEXT,
	"BillingAmount" REAL
)

/*
3 rows from Subscriptions table:
SubscriptionID	CompanyID	NumberOfModules	StartDate	EndDate	Status	RenewalDate	BillingAmount
1	1	5	2024-03-28	2025-03-28	Active	2025-01-27	1200.0
2	2	3	2024-02-26	2025-02-25	Active	2024-12-27	1400.0
3	3	1	2023-10-29	2024-10-28	Active	2024-08-29	1000.0
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT c.CompanyName, c.Geography, c.Industry, s.BillingAmount \nFROM Companies c \nJOIN Subscriptions s ON c.CompanyID = s.CompanyID \nWHERE LOWER(c.Industry) = 'information technology' \nAND LOWER(c.Geography) = 'malaysia' \nAND s.BillingAmount > 1000 \nLIMIT 10;"}`


```sql
SELECT c.CompanyName, c.Geography, c.Industry, s.BillingAmount
FROM Companies c
JOIN Subscriptions s ON c.CompanyID = s.CompanyID
WHERE LOWER(c.Industry) = 'information technology'
AND LOWER(c.Geography) = 'malaysia'
AND s.BillingAmount > 1000
LIMIT 10;
```
Invoking: `sql_db_query` with `{'query': "SELECT c.CompanyName, c.Geography, c.Industry, s.BillingAmount \nFROM Companies c \nJOIN Subscriptions s ON c.CompanyID = s.CompanyID \nWHERE LOWER(c.Industry) = 'information technology' \nAND LOWER(c.Geography) = 'malaysia' \nAND s.BillingAmount > 1000 \nLIMIT 10;"}`


[('CV Indo', 'Malaysia', 'Information Technology', 2800.0), ('Camellia Ventures', 'Malaysia', 'Information Technology', 2400.0)]The IT companies from Malaysia that have subscription plans worth more than $1000 are:

1. CV Indo with a subscription plan worth $2800.
2. Camellia Ventures with a subscription plan worth $2400.

> Finished chain.

 The IT companies from Malaysia that have subscription plans worth more than $1000 are:

1. CV Indo with a subscription plan worth $2800.
2. Camellia Ventures with a subscription plan worth $2400.

7,794 prompt tokens / $0.03897

122 completion tokens / $0.00183

In [ ]:
question = """Give a breakdown of the leave requests submitted in the past 10 days by status"""

response = run_agent_with_input(question)

# Display response from LLM
print(f"\n {response['output']}")

> Entering new SQL Agent Executor chain...

Invoking: `get_today_date` with ``


2024-05-27
Invoking: `sql_db_list_tables` with `{}`


AttendanceRecords, Bonuses, Companies, Deductions, Departments, Employees, FeatureUsage, Feedback, Goals, Invoices, LeaveRequests, LeaveTypes, PayrollRecords, PerformanceReviews, Positions, Subscriptions, UserSessions
Invoking: `sql_db_schema` with `{'table_names': 'LeaveRequests'}`



CREATE TABLE "LeaveRequests" (
	"LeaveRequestID" INTEGER,
	"EmployeeID" INTEGER,
	"LeaveTypeID" INTEGER,
	"StartDate" TEXT,
	"EndDate" TEXT,
	"RequestStatus" TEXT,
	"RequestDate" TEXT,
	"ApproverID" INTEGER,
	"LeaveReason" TEXT,
	"LeaveDuration" INTEGER
)

/*
3 rows from LeaveRequests table:
LeaveRequestID	EmployeeID	LeaveTypeID	StartDate	EndDate	RequestStatus	RequestDate	ApproverID	LeaveReason	LeaveDuration
1	16	3	2024-05-07	2024-05-15	Pending	2023-11-08	48	Yoga retreat	8
2	29	5	2023-12-01	2023-12-01	Rejected	2022-10-27	49	Cruise	0
3	42	5	2022-07-29	2022-08-01	Approved	2023-12-18	34	Disaster recovery	3
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT RequestStatus, COUNT(*) as Count FROM LeaveRequests WHERE RequestDate >= DATE('2024-05-17') GROUP BY RequestStatus"}`


```sql
SELECT RequestStatus, COUNT(*) as Count
FROM LeaveRequests
WHERE RequestDate >= DATE('2024-05-17')
GROUP BY RequestStatus
```
Invoking: `sql_db_query` with `{'query': "SELECT RequestStatus, COUNT(*) as Count FROM LeaveRequests WHERE RequestDate >= DATE('2024-05-17') GROUP BY RequestStatus"}`


[('Approved', 26), ('Pending', 25), ('Rejected', 26)]In the past 10 days, the breakdown of leave requests by status is as follows:

- Approved: 26 requests
- Pending: 25 requests
- Rejected: 26 requests

> Finished chain.

 In the past 10 days, the breakdown of leave requests by status is as follows:

- Approved: 26 requests
- Pending: 25 requests
- Rejected: 26 requests

5,180 prompt tokens / $0.0259

79 completion tokens / $0.001185